<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logosolo.svg" />
	
	<title> Papu Store</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css" />
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css" />
</head>
<body>
	<!-- Header -->
	<% if (locals.usuario != true) { %>
		<%- include('./partials/headerNoLogueado.ejs') %>
	
	 <% } else { %>
		<%- include('./partials/headerLogueado.ejs') %>

	<% } %>
	<!-- Header -->

	<!-- product detail -->
<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= producto.nombre %></h2> 
			<p class="product-detail-description">
				<a href="/product/productadd">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<figure class="product-detail-image-wrapper">
						<img class="imagen1" src="/images/products/<%=producto.imagen%>" alt="<%= producto.nombre  %>">
								<% if (producto.imagen2 != undefined) { %>
									<img class="imagen2" src="/images/products/<%=producto.imagen2%>" alt="<%= producto.nombre  %>">
								<%} else { %>
									<img class="imagen2" src="/images/products/<%=producto.imagen%>" alt="<%= producto.nombre  %>">
								<% } %>
						
					</figure>
					<p class="product-detail-description">
					  <%= producto.descripcion %>
					</p>
				</article>
				
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for(b = 0; b < producto.comentarios.length; b++) { %>
							<article>
								
								<img src="/images/users/<%= producto.comentarios[b].usuario.perfil %>" alt="">
								<div class="data">
									<p class="user">
									<strong>
										<a href="/user/profile/<%= producto.comentarios[b].usuario.id %>">
											<%= producto.comentarios[b].usuario.nombre %>
										</a>
									</strong>
									 <%= producto.comentarios[b].texto %>
									</p>
								</div>
							</article>
						<% } %>
					</section>

  					<form  class="form" action="/product/details/<%= producto.id %>/comentario" method="POST">
    					<input  name="texto" class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
  					</form>


						<hr>
					</div>
				</div>
			</div>
		</div>

	 

	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->

</body>	
</html>