<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logosolo.svg" />
	
	<title> Papu Store</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css" />
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css" />
</head>
<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado.ejs') %>
	<!-- Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="<%= usuario.fotoDePerfil %>" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"> <%= usuario.usuario %> 
						<a href="/user/profile">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li><%= usuario.productos %> productos</li>
						<li><%= usuario.seguidores %> seguidores</li>
						<li><%= usuario.comentarios %> comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
			<% for( let i = 0; i < productos.length; i++ ) { %>

				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/details/<%= productos[i].id %>">
							<figure class="product-box_image">
								<img class="imagen1" src="<%= productos[i].imagen[0] %>" alt="<%= productos[i].nombre  %>">
								<% if (productos[i].imagen.length > 1 && productos[i].imagen.length <= 2) { %>
									<img class="imagen2" src="<%= productos[i].imagen[1] %>" alt="<%= productos[i].nombre  %>">
								<%} else { %>
									<img class="imagen2" src="<%= productos[i].imagen[0] %>" alt="<%= productos[i].nombre  %>">
								<% } %>
								 
							</figure>
							<article class="product-box_data">
								<h2><%= productos[i].nombre %></h2>
								<p><%= productos[i].descripcionCorta %></p>
								<p>Comentarios: <%= productos[i].comentarios.length %></p>
							</article>
						</a>
					</section>
				</div>

			 
			 <% } %>
		</div>
	</div>
	<!-- /Mis productos -->


	<!-- Footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- Footer -->
</body>	
</html>